<div layout="row" layout-align="center center" style="height:100%">
	<div ng-controller="loginCtrl" ng-cloak flex="auto" flex-gt-sm="75" flex-gt-md="50" layout="column">
		<md-content>
			<md-card layout-padding>
				<form ng-submit="login()" name="loginForm">
				    <md-input-container>
				      <label>Email</label>
				      <input ng-model="input.email" type="email" required md-maxlength="45" name="email">
				      <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched">
				      	<div ng-message="required">This is required.</div>
				      	<div ng-message="email">Must match an email pattern.</div>
				      	<div ng-message="md-maxlength">Maximum 45 characters long.</div>
				      </div>
				    </md-input-container>
				    <md-input-container>
				      <label>Password</label>
				      <input ng-model="input.password" type="password" required pattern="^[\w\!\@\#\$\%\^\&\*\(\)\_\-\+\.]+$" minlength="6" md-maxlength="45" name="password">
				      <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
				      	<div ng-message="required">This is required.</div>
				      	<div ng-message="minlength">Minimum 6 characters required.</div>
				      	<div ng-message="pattern">Alphanumeric characters and !@#$%^&*()_-+. only.</div>
				      	<div ng-message="md-maxlength">Maximum 45 characters long.</div>
				      </div>
				    </md-input-container>
				    <md-button type="submit" class="md-primary btn btn-primary">login</md-button>
				    <br/><br/><pre>input={{input}}</pre>
				</form>
			</md-card>
			<md-card>
				<md-button ng-click="checkLogged()">Check login</md-button>
			</md-card>
	  </md-content>
	</div>
</div>